/* Color palette */

:root,
:host{
  --md-sys-color-background:#fbf9f2;
  --md-sys-color-on-background:#1b1c18;
  --md-sys-color-surface:#fbf9f2;
  --md-sys-color-surface-dim:#dbdad3;
  --md-sys-color-surface-bright:#fbf9f2;--md-sys-color-surface-container-lowest:#ffffff;--md-sys-color-surface-container-low:#f5f4ed;--md-sys-color-surface-container:#efeee7;--md-sys-color-surface-container-high:#eae8e1;--md-sys-color-surface-container-highest:#e4e2dc;--md-sys-color-on-surface:#1b1c18;--md-sys-color-surface-variant:#e2e4d5;--md-sys-color-on-surface-variant:#45483d;--md-sys-color-inverse-surface:#30312c;--md-sys-color-inverse-on-surface:#f2f1ea;--md-sys-color-outline:#76786c;--md-sys-color-outline-variant:#c6c8ba;--md-sys-color-shadow:#000000;--md-sys-color-scrim:#000000;--md-sys-color-surface-tint:#546436;--md-sys-color-primary:#546436;--md-sys-color-on-primary:#ffffff;--md-sys-color-primary-container:#bccf96;--md-sys-color-on-primary-container:#2d3c12;--md-sys-color-inverse-primary:#bbce95;--md-sys-color-secondary:#5a614b;--md-sys-color-on-secondary:#ffffff;--md-sys-color-secondary-container:#e3eace;--md-sys-color-on-secondary-container:#464d38;--md-sys-color-tertiary:#356856;--md-sys-color-on-tertiary:#ffffff;--md-sys-color-tertiary-container:#9fd4be;--md-sys-color-on-tertiary-container:#054030;--md-sys-color-error:#ba1a1a;--md-sys-color-on-error:#ffffff;--md-sys-color-error-container:#ffdad6;--md-sys-color-on-error-container:#410002;
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background)
}


main {
  display: flex;
  flex-wrap: wrap;
}

article.skill-row,
h1,
h2 {
  display: block;
  margin-left: 4vw;
}



p.paragraph-left,
p.paragraph-right {
  color: #20261D;
  font-size: 1.5rem;
  line-height: 40px;
}

p.paragraph-left:last-child, 
p.paragraph-right:last-child {
  margin-bottom: 20vh;
}

img {
  max-width: 700px;
  border-radius: 5px;
}

img.django-image,
img.beadwork-image,
img.trivial-image,
img.mmc-image,
img.mne-image {
  flex: 2;
  border: 0.5px solid darkgray;
  border-radius: 2%;
  max-width: 65%;
}


img.django-image,
img.mmc-image {
  order: 2;
  margin-bottom: 20px;
}